{% macro mode(type) %}
<!-- Portfolio Section -->
<div data-bind="foreach:viewModel.cardTypes">
<section class="page-section pt-50 pb-20" >
  <div class="container relative section-portfolio">
    <h2 class="section-title font-alt mb-70 mb-sm-40" data-bind="text:Name"></h2>

    <!-- Works Filter -->
    <div class="works-filter font-alt  align-center" data-bind="foreach:SubCardTypeModels">
      <a href="#" class="filter active" data-bind="text:'全部',attr:{'data-filter':'*'},visible:$index()==0"></a>
      <a href="#" class="filter" data-bind="text:Name,attr:{'data-filter':'.'+Id()}"></a>
    </div>
    <!-- End Works Filter -->

    <!-- Works Grid -->
    <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-black hide-titles" id="work-grid"
        data-bind="foreach:SubCardTypeModels">
      <!-- ko foreach:CardDemoModels -->
        <!-- Work Item (Lightbox) -->
        <li class="work-item mix" data-bind="qrbind:Id,css:CardTypeId()">
          <a class="work-canvas-link mfp-image" >
            <div class="work-img">
              <img data-bind="attr:{'src':ThumbnailUrl,'alt':Name}" />
            </div>
            <div class="work-intro">
              <h3 class="work-title" data-bind="text:Name"></h3>
               <div class="work-descr">
                 <p>
                   选择打开二维码
                 </p>
              </div>
            </div>
          </a>
        </li>
        <!-- /ko -->
    </ul>
    <!-- End Works Grid -->


  </div>
</section>
</div>
<!-- End Portfolio Section -->
{% endmacro %}
