{% macro mode(type) %}
<!-- Portfolio Section -->
<section class="page-section pt-50 pb-20">
  <div class="container relative">
    {%if type=='edit' %}
    <div class="row">
      <a href="#" class="pull-right btn btn-mod btn-circle btn-large"><i class="fa fa-heart"></i>  新增卡片</a>
    </div>
    {% endif %}
    <h2 class="section-title font-alt mb-70 mb-sm-40">

    </h2>

    <!-- Works Filter -->
    <div class="works-filter font-alt  {%if type=='edit' %} align-left {% else %} align-center {% endif %}">
      <a href="#" class="filter active" data-filter="*">All works</a>
      <a href="#" class="filter" data-filter=".branding">Branding</a>
      <a href="#" class="filter" data-filter=".design">Design</a>
      <a href="#" class="filter" data-filter=".photography">Photography</a>
    </div>
    <!-- End Works Filter -->

    <!-- Works Grid -->
    <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-black hide-titles" id="work-grid">
      {var items= [
      { className:'',
        type:'list',
        title:'test',
        edit:false
      }
      , {className:'',
        type:'list',
        title:'test',
        edit:false
      }
      , {className:'',
        type:'list',
        title:'test',
        edit:false
      }
      ]}



    </ul>
    <!-- End Works Grid -->


  </div>
</section>
<!-- End Portfolio Section -->
{% endmacro %}
