{% macro mode(type,className) %}

<!-- Work Item (Lightbox) -->
<li class="work-item mix design branding">
  <a href="images/portfolio/full-project-3.jpg" class="work-lightbox-link mfp-image">
    <div class="work-img">
      <img src="images/portfolio/projects-12.jpg" alt="Work" />
    </div>
    <div class="work-intro">
      <h3 class="work-title">Young Man</h3>
      <div class="work-descr">

        <p>
          Lightbox
        </p>
        <div class="mb-10">
          <a href="#" class="btn btn btn-mod btn-border-w btn-round">
            <i class="fa fa-trash"></i>
            remove
          </a>
        </div>

      </div>
    </div>
  </a>
</li>
<!-- End Work Item -->

{% endmacro %}
